{% load static %}
<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-1 mb-5">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="{% static "images/kreditbiznesu2.jpg" %}" class="img-fluid"/>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong> Почему стоит выбрать наш банк?</strong></h4>
                    <p class="text-muted">
                        Во-первых, наш банк предлагает вам выгодные условия кредитования.
                        Мы предлагаем ставки по кредитам на жилье от 9 до 12% годовых в зависимости от суммы и срока
                        кредита.
                        Вы можете выбрать один из следующих вариантов кредитования:
                        Ипотечный кредит.
                        Кредит на приобретение жилого дома или квартиры с земельным участком, а также на строительство
                        жилого дома.
                        Кредит под залог имеющейся квартиры.
                        Кредит для молодых семей.
                        Кредит с использованием материнского капитала.
                        Кредиты на покупку автомобиля в лизинг.
                    </p>
                    <p><strong>Почему стоит довериться нашему банку и положить деньги на счет? </strong></p>
                    <p class="text-muted">
                        Потому что мы работаем на рынке финансовых услуг много лет и знаем все тонкости финансового
                        рынка.
                        Мы предлагаем Вам самые выгодные условия для вложения денег.
                        Наши преимущества:
                    <li class="text-muted">1. Максимальная надежность - мы являемся одним из крупнейших банков России;
                    </li>
                    <li class="text-muted">2. Мы знаем, как защитить ваши средства от инфляции.</li>
                    <li class="text-muted">3. Мы не берем комиссии за обслуживание счета.</li>
                    <li class="text-muted">4. Мы предлагаем вам возможность зарабатывать до 8% годовых.</li>
                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5"/>

        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5"><strong>Самые популярные операции в банке</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{% static "images/d8e3a0d02226fa87b6b6f4d19604f8bd.jpg" %}"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ипотека</h5>
                            <p class="card-text">
                                это кредит, который выдается банком под залог недвижимости.
                                Это может быть квартира, дом, земельный участок или другое недвижимое имущество.
                                Недвижимость при этом остается в собственности должника.
                                В качестве залога по кредиту может выступать квартира или дом.

                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{% static "images/zyqkzwzYYzo.jpg" %}"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Инвестиции</h5>
                            <p class="card-text">
                                это деньги, которые вкладывают в какой-либо проект, чтобы получить прибыль.
                                Инвестиции могут быть в виде денег, ценных бумаг, имущественных и неимущественных прав,
                                интеллектуальной собственности.
                                Вкладывая деньги в какой-то проект, инвестор хочет получить максимальную прибыль
                                вложенного капитала
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{% static "images/d1bed41345a3e520dd7f1381dc7a1e7e.jpg" %}"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Вклад</h5>
                            <p class="card-text">
                                сумма денег, переданная лицом кредитному учреждению с целью получить доход в виде
                                процентов, образующихся в ходе финансовых операций с вкладом.Начисление процентов
                                происходит на условиях, описанных в договоре по вкладу или в общих условиях по
                                размещению денежных средств во вклады конкретного банка. Как правило, это ежемесячное,
                                ежеквартальное начисления.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</main>
